<a href="https://colab.research.google.com/github/apurvv28/ML-Labs/blob/assignment-1/assignment_1_apurv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> By **Apurv Saktepar, Roll No. 11 From SEDA Division of CSE-AI Department (PRN - 1252090011)**

> Date - 20/01/26

#### Assignment 1 - Perform the following operations using Python on suitable data sets:

* Read data from different formats (like csv, xls)
* Find Shape of Data
* Find Missing Values
* Find data type of each column
* Finding out Zero's
* Indexing and selecting data, sort data,
* Describe attributes of data, checking data types of each column,
* counting unique values of data, format of each column, converting variable data type (e.g. from long to short, vice versa)


### Implementation

1. Import Required Libraries

In [ ]:
import pandas as pd
import numpy as np

2. Create Dataset and DataFrame

In [ ]:
data = {
    "Student_ID": [101, 102, 103, 104, 105, 106],
    "Name": ["Apurv", "Viraj", "Sahil", "Nisha", "Vaishnavi", "Aditya"],
    "Age": [21, 22, 20, 23, 21, 22],
    "Gender": ["M", "M", "M", "F", "F", "M"],
    "Department": ["CSAI", "CSE", "CSE", "CSAI", "AIDS", "ECE"],
    "Marks": [85, 90, np.nan, 78, 88, 0],
    "Attendance": [90, 95, 85, 80, 92, 0],
    "Internship": ["Yes", "No", "Yes", "No", "Yes", "No"]
}

df = pd.DataFrame(data)
df

   Student_ID       Name  Age Gender Department  Marks  Attendance Internship
0         101      Apurv   21      M       CSAI   85.0          90        Yes
1         102      Viraj   22      M        CSE   90.0          95         No
2         103      Sahil   20      M        CSE    NaN          85        Yes
3         104      Nisha   23      F       CSAI   78.0          80         No
4         105  Vaishnavi   21      F       AIDS   88.0          92        Yes
5         106     Aditya   22      M        ECE    0.0           0         No

3. Finding Shape of DataFrame

In [ ]:
print(df.shape)

(6, 8)

4. Finding Missing Values in Each Column

In [ ]:
print(df.isnull().sum())

Student_ID    0
Name          0
Age           0
Gender        0
Department    0
Marks         1
Attendance    0
Internship    0
dtype: int64

5. Fetching Data Types of Each Column

In [ ]:
print(df.dtypes)

Student_ID      int64
Name           object
Age             int64
Gender         object
Department     object
Marks         float64
Attendance      int64
Internship     object
dtype: object

6. Counting Number of zero values

In [ ]:
print((df == 0).sum())

Student_ID    0
Name          0
Age           0
Gender        0
Department    0
Marks         1
Attendance    1
Internship    0
dtype: int64

7. Selecting First 2 Rows from dataset

In [ ]:
print(df.iloc[:2])

   Student_ID   Name  Age Gender Department  Marks  Attendance Internship
0         101  Apurv   21      M       CSAI   85.0          90        Yes
1         102  Viraj   22      M        CSE   90.0          95         No

8. Selecting Name & Marks Columns from dataset

In [ ]:
print(df[['Name', 'Marks']])

        Name  Marks
0      Apurv   85.0
1      Viraj   90.0
2      Sahil    NaN
3      Nisha   78.0
4  Vaishnavi   88.0
5     Aditya    0.0

9. Sorting by Marks

In [ ]:
print(df.sort_values(by="Marks"))

   Student_ID       Name  Age Gender Department  Marks  Attendance Internship
5         106     Aditya   22      M        ECE    0.0           0         No
3         104      Nisha   23      F       CSAI   78.0          80         No
0         101      Apurv   21      M       CSAI   85.0          90        Yes
4         105  Vaishnavi   21      F       AIDS   88.0          92        Yes
1         102      Viraj   22      M        CSE   90.0          95         No
2         103      Sahil   20      M        CSE    NaN          85        Yes

10. Describe Attributes of Data

In [ ]:
print(df.describe(include='all'))

        Student_ID   Name        Age Gender Department      Marks  Attendance  \
count     6.000000      6   6.000000      6          6   5.000000    6.000000
unique         NaN      6        NaN      2          4        NaN         NaN
top            NaN  Apurv        NaN      M       CSAI        NaN         NaN
freq           NaN      1        NaN      4          2        NaN         NaN
mean    103.500000    NaN  21.500000    NaN        NaN  68.200000   73.666667
std       1.870829    NaN   1.048809    NaN        NaN  38.395312   36.478304
min     101.000000    NaN  20.000000    NaN        NaN   0.000000    0.000000
25%     102.250000    NaN  21.000000    NaN        NaN  78.000000   81.250000
50%     103.500000    NaN  21.500000    NaN        NaN  85.000000   87.500000
75%     104.750000    NaN  22.000000    NaN        NaN  88.000000   91.500000
max     106.000000    NaN  23.000000    NaN        NaN  90.000000   95.000000

       Internship
count           6
unique          2
top           Yes
freq            3
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN

11. Rechecking Data Types

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Student_ID  6 non-null      int64
 1   Name        6 non-null      object
 2   Age         6 non-null      int64
 3   Gender      6 non-null      object
 4   Department  6 non-null      object
 5   Marks       5 non-null      float64
 6   Attendance  6 non-null      int64
 7   Internship  6 non-null      object
dtypes: float64(1), int64(3), object(4)
memory usage: 516.0+ bytes
None

12. Counting Unique Values

In [ ]:
print(df.nunique())

Student_ID    6
Name          6
Age           4
Gender        2
Department    4
Marks         5
Attendance    6
Internship    2
dtype: int64

13. Fetching Column Names

In [ ]:
print(df.columns)

Index(['Student_ID', 'Name', 'Age', 'Gender', 'Department', 'Marks',
       'Attendance', 'Internship'],
      dtype='object')

14. Converting Datatypes

In [ ]:
df['Student_ID'] = df['Student_ID'].astype('int16')
df['Age'] = df['Age'].astype('int8')
df['Marks'] = df['Marks'].astype('float16')
print("Data Types After Converting:")
print(df.dtypes)

Data Types After Converting:
Student_ID      int16
Name           object
Age              int8
Gender         object
Department     object
Marks         float16
Attendance      int64
Internship     object
dtype: object

### **Conclusion**

In This Assignment, I've studied all the important operations using pandas library in python. I've also successfully implemented them on a student dataset.