Operations on Dataset **By Apurv Saktepar, Roll No. 11 From SEDA Division of CSE-AI Department.** (PRN - 1252090011)


1. Import Required Libraries

In [ ]:
import pandas as pd
import numpy as np

2. Read Data from different files (csv and json)

In [ ]:
df_csv = pd.read_csv("data.csv")

In [ ]:
df_json = pd.read_json('house_3.json')

3. Display Dataset

In [ ]:
print(df_csv)

                     date         price  bedrooms  bathrooms  sqft_living  \
0     2014-05-02 00:00:00  3.130000e+05       3.0       1.50         1340
1     2014-05-02 00:00:00  2.384000e+06       5.0       2.50         3650
2     2014-05-02 00:00:00  3.420000e+05       3.0       2.00         1930
3     2014-05-02 00:00:00  4.200000e+05       3.0       2.25         2000
4     2014-05-02 00:00:00  5.500000e+05       4.0       2.50         1940
...                   ...           ...       ...        ...          ...
4595  2014-07-09 00:00:00  3.081667e+05       3.0       1.75         1510
4596  2014-07-09 00:00:00  5.343333e+05       3.0       2.50         1460
4597  2014-07-09 00:00:00  4.169042e+05       3.0       2.50         3010
4598  2014-07-10 00:00:00  2.034000e+05       4.0       2.00         2090
4599  2014-07-10 00:00:00  2.206000e+05       3.0       2.50         1490

      sqft_lot  floors  waterfront  view  condition  sqft_above  \
0         7912     1.5           0     0          3        1340
1         9050     2.0           0     4          5        3370
2        11947     1.0           0     0          4        1930
3         8030     1.0           0     0          4        1000
4        10500     1.0           0     0          4        1140
...        ...     ...         ...   ...        ...         ...
4595      6360     1.0           0     0          4        1510
4596      7573     2.0           0     0          3        1460
4597      7014     2.0           0     0          3        3010
4598      6630     1.0           0     0          3        1070
4599      8102     2.0           0     0          4        1490

      sqft_basement  yr_built  yr_renovated                    street  \
0                 0      1955          2005      18810 Densmore Ave N
1               280      1921             0           709 W Blaine St
2                 0      1966             0  26206-26214 143rd Ave SE
3              1000      1963             0           857 170th Pl NE
4               800      1976          1992         9105 170th Ave NE
...             ...       ...           ...                       ...
4595              0      1954          1979            501 N 143rd St
4596              0      1983          2009          14855 SE 10th Pl
4597              0      2009             0          759 Ilwaco Pl NE
4598           1020      1974             0         5148 S Creston St
4599              0      1990             0         18717 SE 258th St

           city  statezip country
0     Shoreline  WA 98133     USA
1       Seattle  WA 98119     USA
2          Kent  WA 98042     USA
3      Bellevue  WA 98008     USA
4       Redmond  WA 98052     USA
...         ...       ...     ...
4595    Seattle  WA 98133     USA
4596   Bellevue  WA 98007     USA
4597     Renton  WA 98059     USA
4598    Seattle  WA 98178     USA
4599  Covington  WA 98042     USA

[4600 rows x 18 columns]

In [ ]:
print(df_json)

                                                 address  \
0      შარტავას ქუჩა, Saburtalo, Saburtalo District, ...
1                                  Rustavi, Lower Kartli
2      Queen Ketevan Avenue, Isani, Isani District, T...
3      კრწანისის ქუჩა, Ortatchala Street, Ortachala, ...
4      ორთაჭალის ქ, Ortachala, Krtsanisi District, Tb...
...                                                  ...
41658  Surrounding area of metro Grmaghele, Nadzalade...
41659                                ნაძალადევი, Tbilisi
41660                                ნაძალადევი, Tbilisi
41661                                ნაძალადევი, Tbilisi
41662                            სარაჯიშვილის 1, Tbilisi

                                            product_tree         time  views  \
0      Newly finished apartment for sale,Tbilisi,Sabu...  Today 12:33    622
1      Older finished apartment for sale,Lower Kartli...  Today 11:40    276
2      Newly finished apartment for sale,Tbilisi,Isan...  Today 13:27   1226
3      Newly finished apartment for sale,Tbilisi,Krts...  Today 13:33   3309
4      Newly finished apartment for sale,Tbilisi,Krts...  Today 13:32   1484
...                                                  ...          ...    ...
41658  Apartment under construction for sale,Tbilisi,...  4 Sep 09:09    172
41659  Newly finished apartment for sale,Tbilisi,2 rooms  4 Sep 09:09    217
41660  Newly finished apartment for sale,Tbilisi,1 rooms  4 Sep 09:09    298
41661  Newly finished apartment for sale,Tbilisi,3 rooms  4 Sep 09:09    216
41662  Apartment under construction for sale,Tbilisi,...  4 Sep 09:09    193

                                       title          id price_gel price_usd  \
0          Newly finished apartment for sale  : 10541934   107,100    32,500
1          Older finished apartment for sale  : 10680693    87,300    26,500
2          Newly finished apartment for sale  : 10491378   257,000    78,000
3          Newly finished apartment for sale  : 10255954   157,200    47,700
4          Newly finished apartment for sale  : 10462781   237,200    72,000
...                                      ...         ...       ...       ...
41658  Apartment under construction for sale  : 10194871   179,200    54,400
41659      Newly finished apartment for sale  : 10182927   126,600    38,400
41660      Newly finished apartment for sale  : 10182818    62,400    18,900
41661      Newly finished apartment for sale  : 10182585   167,200    50,800
41662  Apartment under construction for sale  : 10197071   169,300    51,400

                 space    room  bedroom  floor  \
0      Area: 28.00 m²   1 Room  Bedroom  11/11
1      Area: 63.00 m²   3 Room  Bedroom    5/9
2      Area: 72.00 m²   3 Room  Bedroom  15/16
3      Area: 53.00 m²   2 Room  Bedroom    2/4
4      Area: 80.00 m²   3 Room  Bedroom    3/4
...                ...     ...      ...    ...
41658  Area: 75.00 m²   2 Room  Bedroom  11/22
41659  Area: 53.00 m²   2 Room  Bedroom   8/12
41660  Area: 25.75 m²   1 Room  Bedroom   7/12
41661  Area: 70.00 m²   3 Room  Bedroom   4/12
41662  Area: 75.00 m²   3 Room  Bedroom    5/8

                                             description  \
0      1,5 Ot newly renovated apartment Non-residenti...
1      One-room 3-room apartment for sale on the 5th ...
2      Newly renovated apartment for sale near Metro ...
3      53 sq.m. apartment for sale White frame, Krtsa...
4      80 sq.m. white frame apartment for sale, Krtsa...
...                                                  ...
41658                                               None
41659  For sale in the project completed on Guramishv...
41660  30% advance payment for 18 months 0% installme...
41661  10% down payment for Guramishvili Avenue compl...
41662                                               None

                                               amenities   latitude  \
0      Newly renovated,Nonstandard,Ceiling height,3.0...  41.724521
1      Newly renovated,Moskow,Ceiling height,2.70 M,B...  41.543090
2      Newly renovated,Nonstandard,Bedroom 1,Veranda ...  41.689502
3      White frame,Nonstandard,Ceiling height,3.10 M,...  41.677084
4      White frame,Nonstandard,Ceiling height,3.00 M,...  41.682883
...                                                  ...        ...
41658  მწვანე კარკასი,Nonstandard,Ceiling height,3.10...  41.761308
41659  მწვანე კარკასი,Nonstandard,Ceiling height,3.00...  41.731884
41660  მწვანე კარკასი,Nonstandard,Ceiling height,3.00...  41.731884
41661  მწვანე კარკასი,Nonstandard,Ceiling height,3.00...  41.731884
41662  მწვანე კარკასი,Nonstandard,Ceiling height,3.10...  41.731884

       longitude   poster_type  poster_id
0      44.753788         Agent    2165179
1      45.011280         Agent    3594609
2      44.820050         Owner    3533391
3      44.817222         Owner    2083738
4      44.823815         Owner    2083738
...          ...           ...        ...
41658  44.789730  Construction    3506709
41659  44.836876  Construction    3506709
41660  44.836876  Construction    3506709
41661  44.836876  Construction    3506709
41662  44.836876  Construction    3506709

[41663 rows x 18 columns]

4. Finding Shape of Data

In [ ]:
df_csv.shape

(4600, 18)

5. Finding Missing Values in dataset

   Counting missing values per column

In [ ]:
df_csv.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

Checking if any missing values exist

In [ ]:
df_csv.isnull().values.any()

np.False_

6. Finding datatype of each column

In [ ]:
df_csv.dtypes

date              object
price            float64
bedrooms         float64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
street            object
city              object
statezip          object
country           object
dtype: object

7. Finding Out Zero Values

In [ ]:
(df_csv == 0).sum()

date                0
price              49
bedrooms            2
bathrooms           2
sqft_living         0
sqft_lot            0
floors              0
waterfront       4567
view             4140
condition           0
sqft_above          0
sqft_basement    2745
yr_built            0
yr_renovated     2735
street              0
city                0
statezip            0
country             0
dtype: int64

8. Indexing and Selecting Data
  


*   Selecting a single column
*   Select multiple columns
*   Select first 5 rows
*   Select rows with condition

In [ ]:
df_csv["price"]

0       3.130000e+05
1       2.384000e+06
2       3.420000e+05
3       4.200000e+05
4       5.500000e+05
            ...
4595    3.081667e+05
4596    5.343333e+05
4597    4.169042e+05
4598    2.034000e+05
4599    2.206000e+05
Name: price, Length: 4600, dtype: float64

In [ ]:
df_csv[["price", "bedrooms", "sqft_living","bathrooms"]]

             price  bedrooms  sqft_living  bathrooms
0     3.130000e+05       3.0         1340       1.50
1     2.384000e+06       5.0         3650       2.50
2     3.420000e+05       3.0         1930       2.00
3     4.200000e+05       3.0         2000       2.25
4     5.500000e+05       4.0         1940       2.50
...            ...       ...          ...        ...
4595  3.081667e+05       3.0         1510       1.75
4596  5.343333e+05       3.0         1460       2.50
4597  4.169042e+05       3.0         3010       2.50
4598  2.034000e+05       4.0         2090       2.00
4599  2.206000e+05       3.0         1490       2.50

[4600 rows x 4 columns]

In [ ]:
df_csv.iloc[0:5]

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [ ]:
df_csv[df_csv["sqft_living"] > 2000]

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
7,2014-05-02 00:00:00,4.820000e+05,4.0,2.50,2710,35868,2.0,0,0,3,2710,0,1989,0,23762 SE 253rd Pl,Maple Valley,WA 98038,USA
8,2014-05-02 00:00:00,4.525000e+05,3.0,2.50,2430,88426,1.0,0,0,4,1570,860,1985,0,46611-46625 SE 129th St,North Bend,WA 98045,USA
11,2014-05-02 00:00:00,1.400000e+06,4.0,2.50,2920,4000,1.5,0,0,5,1910,1010,1909,1988,3838-4098 44th Ave NE,Seattle,WA 98105,USA
12,2014-05-02 00:00:00,5.885000e+05,3.0,1.75,2330,14892,1.0,0,0,3,1970,360,1980,0,1833 220th Pl NE,Sammamish,WA 98074,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4590,2014-07-08 00:00:00,3.806806e+05,4.0,2.50,2620,8331,2.0,0,0,3,2620,0,1991,0,13602 SE 186th Pl,Renton,WA 98058,USA
4592,2014-07-08 00:00:00,2.529800e+05,4.0,2.50,2530,8169,2.0,0,0,3,2530,0,1993,0,37654 18th Pl S,Federal Way,WA 98003,USA
4593,2014-07-08 00:00:00,2.893733e+05,3.0,2.50,2538,4600,2.0,0,0,3,2538,0,2013,1923,5703 Charlotte Ave SE,Auburn,WA 98092,USA
4597,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA

9. Sorting the data

* Ascending Order
* Descending Order

In [ ]:
df_csv.sort_values(by="price", ascending=True)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
4567,2014-07-02 00:00:00,0.0,4.0,2.50,4080,18362,2.0,0,2,4,4080,0,1983,0,2710 95th Ave NE,Clyde Hill,WA 98004,USA
4588,2014-07-08 00:00:00,0.0,4.0,2.25,2890,18226,3.0,1,4,3,2890,0,1984,0,3227-3399 Mountain View Ave N,Renton,WA 98056,USA
4542,2014-06-25 00:00:00,0.0,5.0,3.50,2640,6895,2.0,0,0,3,2640,0,2001,0,34529 SE Jay Ct,Snoqualmie,WA 98065,USA
4374,2014-05-09 00:00:00,0.0,2.0,2.50,2200,188200,1.0,0,3,3,2200,0,2007,0,39612 254th Ave SE,Enumclaw,WA 98022,USA
4358,2014-05-06 00:00:00,0.0,5.0,3.50,3480,36615,2.0,0,0,4,2490,990,1983,0,21809 SE 38th Pl,Issaquah,WA 98075,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2761,2014-06-18 00:00:00,4489000.0,4.0,3.00,6430,27517,2.0,0,0,3,6430,0,2001,0,1149-1199 91st Ave NE,Bellevue,WA 98004,USA
2654,2014-06-17 00:00:00,4668000.0,5.0,6.75,9640,13068,1.0,1,4,3,4820,4820,1983,2009,5044 Butterworth Rd,Mercer Island,WA 98040,USA
2286,2014-06-11 00:00:00,7062500.0,5.0,4.50,10040,37325,2.0,1,2,3,7680,2360,1940,2001,4442 95th Ave NE,Bellevue,WA 98004,USA
4346,2014-06-23 00:00:00,12899000.0,3.0,2.50,2190,11394,1.0,0,0,3,1550,640,1956,2001,5426 40th Ave W,Seattle,WA 98199,USA
4350,2014-07-03 00:00:00,26590000.0,3.0,2.00,1180,7793,1.0,0,0,4,1180,0,1992,0,12005 SE 219th Ct,Kent,WA 98031,USA

In [ ]:
df_csv.sort_values(by="sqft_living", ascending=False)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
122,2014-05-05 00:00:00,2280000.0,7.0,8.00,13540,307752,3.0,0,4,3,9410,4130,1999,0,26408 NE 70th St,Redmond,WA 98053,USA
2286,2014-06-11 00:00:00,7062500.0,5.0,4.50,10040,37325,2.0,1,2,3,7680,2360,1940,2001,4442 95th Ave NE,Bellevue,WA 98004,USA
2654,2014-06-17 00:00:00,4668000.0,5.0,6.75,9640,13068,1.0,1,4,3,4820,4820,1983,2009,5044 Butterworth Rd,Mercer Island,WA 98040,USA
2328,2014-06-11 00:00:00,2888000.0,5.0,6.25,8670,64033,2.0,0,4,3,6120,2550,1965,2003,1291 NW Elford Dr,Seattle,WA 98177,USA
4575,2014-07-02 00:00:00,0.0,5.0,6.25,8020,21738,2.0,0,0,3,8020,0,2001,0,2 Crescent Key,Bellevue,WA 98006,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4184,2014-07-09 00:00:00,150000.0,3.0,0.75,490,38500,1.5,0,0,4,490,0,1959,0,11881 Tye River Rd NE,Skykomish,WA 98288,USA
1219,2014-05-23 00:00:00,80000.0,1.0,0.75,430,5050,1.0,0,0,2,430,0,1912,0,32215 E Rutherford St,Carnation,WA 98014,USA
2416,2014-06-12 00:00:00,280000.0,1.0,0.75,420,6720,1.0,0,0,3,420,0,1922,2008,5550 17th Ave S,Seattle,WA 98108,USA
2919,2014-06-20 00:00:00,245000.0,1.0,0.75,380,15000,1.0,0,0,3,380,0,1963,2008,13602 8th Ave S,Burien,WA 98168,USA
3778,2014-07-01 00:00:00,276000.0,1.0,0.75,370,1801,1.0,0,0,5,370,0,1923,0,2508 NW 67th St,Seattle,WA 98117,USA

10. Describing Attributes of Data

In [ ]:
df_csv.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,4.600000e+03,4600.000000,4600.000000,4600.000000,4.600000e+03,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000
mean,5.519630e+05,3.400870,2.160815,2139.346957,1.485252e+04,1.512065,0.007174,0.240652,3.451739,1827.265435,312.081522,1970.786304,808.608261
std,5.638347e+05,0.908848,0.783781,963.206916,3.588444e+04,0.538288,0.084404,0.778405,0.677230,862.168977,464.137228,29.731848,979.414536
min,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000
25%,3.228750e+05,3.000000,1.750000,1460.000000,5.000750e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,4.609435e+05,3.000000,2.250000,1980.000000,7.683000e+03,1.500000,0.000000,0.000000,3.000000,1590.000000,0.000000,1976.000000,0.000000
75%,6.549625e+05,4.000000,2.500000,2620.000000,1.100125e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,610.000000,1997.000000,1999.000000
max,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000

11. Checking dataset information

In [ ]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB

12. Counting Unique Values

In [ ]:
df_csv.nunique()

date               70
price            1741
bedrooms           10
bathrooms          26
sqft_living       566
sqft_lot         3113
floors              6
waterfront          2
view                5
condition           5
sqft_above        511
sqft_basement     207
yr_built          115
yr_renovated       60
street           4525
city               44
statezip           77
country             1
dtype: int64

13. Check Format (Data Type) of Each Cell

In [ ]:
df_csv.applymap(type)

/tmp/ipython-input-3828505095.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_csv.applymap(type)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,<class 'str'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
1,<class 'str'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
2,<class 'str'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
3,<class 'str'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
4,<class 'str'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,<class 'str'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
4596,<class 'str'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
4597,<class 'str'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
4598,<class 'str'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
4599,<class 'str'>,<class 'float'>,<class 'float'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>

> **Conclusion** = In this assignment, I have completed operations on a csv dataset using the pandas library of python.